# 编译
build/
dist/
*.spec
# Python build artifacts
*.egg-info/
# Python缓存
__pycache__/
*.py[cod]
*$py.class
.env/
.venv/
.env
.python-version

# 数据文件
data.json
*.db

# Node.js
node_modules/

# 开发环境
.vscode/
.idea/